<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>☰</string>
		<key>shortcut</key>
		<string>edge(qian)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☰</string>
		<key>shortcut</key>
		<string>1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☷</string>
		<key>shortcut</key>
		<string>edge(kun)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☷</string>
		<key>shortcut</key>
		<string>8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☳</string>
		<key>shortcut</key>
		<string>edge(zhen)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☳</string>
		<key>shortcut</key>
		<string>2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☴</string>
		<key>shortcut</key>
		<string>edge(xun)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☴</string>
		<key>shortcut</key>
		<string>7</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☵</string>
		<key>shortcut</key>
		<string>edge(kan)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☵</string>
		<key>shortcut</key>
		<string>6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☲</string>
		<key>shortcut</key>
		<string>edge(li)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☲</string>
		<key>shortcut</key>
		<string>3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☶</string>
		<key>shortcut</key>
		<string>edge(gen)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☶</string>
		<key>shortcut</key>
		<string>5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☱</string>
		<key>shortcut</key>
		<string>edge(dui)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☱</string>
		<key>shortcut</key>
		<string>4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷀</string>
		<key>shortcut</key>
		<string>qianweitian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷀</string>
		<key>shortcut</key>
		<string>tian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷁</string>
		<key>shortcut</key>
		<string>kunweidi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷁</string>
		<key>shortcut</key>
		<string>di</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷂</string>
		<key>shortcut</key>
		<string>shuileizhun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷂</string>
		<key>shortcut</key>
		<string>zhun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷃</string>
		<key>shortcut</key>
		<string>shanshuimeng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷃</string>
		<key>shortcut</key>
		<string>meng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷄</string>
		<key>shortcut</key>
		<string>shuitianxu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷄</string>
		<key>shortcut</key>
		<string>xu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷅</string>
		<key>shortcut</key>
		<string>tianshuisong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷅</string>
		<key>shortcut</key>
		<string>song</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷆</string>
		<key>shortcut</key>
		<string>dishuishi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷆</string>
		<key>shortcut</key>
		<string>shi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷇</string>
		<key>shortcut</key>
		<string>shuidibi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷇</string>
		<key>shortcut</key>
		<string>bi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷈</string>
		<key>shortcut</key>
		<string>fengtianxiaochu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷈</string>
		<key>shortcut</key>
		<string>xiaochu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷉</string>
		<key>shortcut</key>
		<string>tianzelv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷷</string>
		<key>shortcut</key>
		<string>lv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷊</string>
		<key>shortcut</key>
		<string>ditiantai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷊</string>
		<key>shortcut</key>
		<string>tai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷋</string>
		<key>shortcut</key>
		<string>tiandipi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷋</string>
		<key>shortcut</key>
		<string>pi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷌</string>
		<key>shortcut</key>
		<string>tianhuotongren</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷌</string>
		<key>shortcut</key>
		<string>tongren</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷍</string>
		<key>shortcut</key>
		<string>huotiandayou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷍</string>
		<key>shortcut</key>
		<string>dayou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷎</string>
		<key>shortcut</key>
		<string>dishanqian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷎</string>
		<key>shortcut</key>
		<string>qian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷏</string>
		<key>shortcut</key>
		<string>leidiyu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷏</string>
		<key>shortcut</key>
		<string>yu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷐</string>
		<key>shortcut</key>
		<string>zeleisui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷐</string>
		<key>shortcut</key>
		<string>sui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷑</string>
		<key>shortcut</key>
		<string>shanfenggu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷑</string>
		<key>shortcut</key>
		<string>gu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷒</string>
		<key>shortcut</key>
		<string>dizelin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷒</string>
		<key>shortcut</key>
		<string>lin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷓</string>
		<key>shortcut</key>
		<string>fengdiguan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷓</string>
		<key>shortcut</key>
		<string>guan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷔</string>
		<key>shortcut</key>
		<string>huoleishihe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷔</string>
		<key>shortcut</key>
		<string>shihe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷕</string>
		<key>shortcut</key>
		<string>shanhuoben</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷕</string>
		<key>shortcut</key>
		<string>ben</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷖</string>
		<key>shortcut</key>
		<string>shandibo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷖</string>
		<key>shortcut</key>
		<string>bo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷗</string>
		<key>shortcut</key>
		<string>dileifu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷗</string>
		<key>shortcut</key>
		<string>fu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷘</string>
		<key>shortcut</key>
		<string>tianleiwuwang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷘</string>
		<key>shortcut</key>
		<string>wuwang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷙</string>
		<key>shortcut</key>
		<string>shantiandaxu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷙</string>
		<key>shortcut</key>
		<string>daxu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷚</string>
		<key>shortcut</key>
		<string>shanleiyi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷩</string>
		<key>shortcut</key>
		<string>yi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷛</string>
		<key>shortcut</key>
		<string>zefengdaguo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷛</string>
		<key>shortcut</key>
		<string>daguo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷜</string>
		<key>shortcut</key>
		<string>kanweishui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷜</string>
		<key>shortcut</key>
		<string>shui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷝</string>
		<key>shortcut</key>
		<string>liweihuo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷝</string>
		<key>shortcut</key>
		<string>huo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷞</string>
		<key>shortcut</key>
		<string>zeshanxian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷞</string>
		<key>shortcut</key>
		<string>xian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷟</string>
		<key>shortcut</key>
		<string>leifengheng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷟</string>
		<key>shortcut</key>
		<string>heng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷠</string>
		<key>shortcut</key>
		<string>tianshandun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷠</string>
		<key>shortcut</key>
		<string>dun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷡</string>
		<key>shortcut</key>
		<string>leitiandazhuang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷡</string>
		<key>shortcut</key>
		<string>dazhuang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷢</string>
		<key>shortcut</key>
		<string>huodijin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷢</string>
		<key>shortcut</key>
		<string>jin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷣</string>
		<key>shortcut</key>
		<string>dihuomingyi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷣</string>
		<key>shortcut</key>
		<string>mingyi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷤</string>
		<key>shortcut</key>
		<string>fenghuojiaren</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷤</string>
		<key>shortcut</key>
		<string>jiaren</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷥</string>
		<key>shortcut</key>
		<string>huozekui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷥</string>
		<key>shortcut</key>
		<string>kui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷦</string>
		<key>shortcut</key>
		<string>shuishanjian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷴</string>
		<key>shortcut</key>
		<string>jian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷧</string>
		<key>shortcut</key>
		<string>leishuijie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷻</string>
		<key>shortcut</key>
		<string>jie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷨</string>
		<key>shortcut</key>
		<string>shanzesun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷨</string>
		<key>shortcut</key>
		<string>sun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷩</string>
		<key>shortcut</key>
		<string>fengleiyi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷪</string>
		<key>shortcut</key>
		<string>zetianguai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷪</string>
		<key>shortcut</key>
		<string>guai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷫</string>
		<key>shortcut</key>
		<string>tianfenggou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷫</string>
		<key>shortcut</key>
		<string>gou</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷬</string>
		<key>shortcut</key>
		<string>zedicui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷬</string>
		<key>shortcut</key>
		<string>cui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷭</string>
		<key>shortcut</key>
		<string>difengsheng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷭</string>
		<key>shortcut</key>
		<string>sheng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷮</string>
		<key>shortcut</key>
		<string>zeshuikun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷮</string>
		<key>shortcut</key>
		<string>kun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷯</string>
		<key>shortcut</key>
		<string>shuifengjing</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷯</string>
		<key>shortcut</key>
		<string>jing</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷰</string>
		<key>shortcut</key>
		<string>zehuoge</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷰</string>
		<key>shortcut</key>
		<string>ge</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷱</string>
		<key>shortcut</key>
		<string>huofengding</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷱</string>
		<key>shortcut</key>
		<string>ding</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷲</string>
		<key>shortcut</key>
		<string>zhenweilei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷲</string>
		<key>shortcut</key>
		<string>lei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷳</string>
		<key>shortcut</key>
		<string>genweishan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷳</string>
		<key>shortcut</key>
		<string>shan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷴</string>
		<key>shortcut</key>
		<string>fengshanjian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷵</string>
		<key>shortcut</key>
		<string>leizeguimei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷵</string>
		<key>shortcut</key>
		<string>guimei</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷶</string>
		<key>shortcut</key>
		<string>leihuofeng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷶</string>
		<key>shortcut</key>
		<string>fong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷷</string>
		<key>shortcut</key>
		<string>huoshanlv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷸</string>
		<key>shortcut</key>
		<string>xunweifeng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷸</string>
		<key>shortcut</key>
		<string>feng</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷹</string>
		<key>shortcut</key>
		<string>duiweize</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷹</string>
		<key>shortcut</key>
		<string>ze</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷺</string>
		<key>shortcut</key>
		<string>fengshuihuan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷺</string>
		<key>shortcut</key>
		<string>huan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷻</string>
		<key>shortcut</key>
		<string>shuizejie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷼</string>
		<key>shortcut</key>
		<string>fengzezhongfu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷼</string>
		<key>shortcut</key>
		<string>zhongfu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷽</string>
		<key>shortcut</key>
		<string>leishanxiaoguo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷽</string>
		<key>shortcut</key>
		<string>xiaoguo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷾</string>
		<key>shortcut</key>
		<string>shuihuojiji</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷾</string>
		<key>shortcut</key>
		<string>jiji</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷿</string>
		<key>shortcut</key>
		<string>huoshuiweiji</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>䷿</string>
		<key>shortcut</key>
		<string>weiji</string>
	</dict>
</array>
</plist>
